
:root{

    --color: rgb(47, 156, 25);
padding: 2%;
}

.logo{
    font-size: 40px;
    padding-left: 5%;
    border-radius: 50%;
    border-color: antiquewhite;
    border-style: double;
    border-inline-start: #000;
}

#myImage{
    width: 11%;
    border-radius: 5%;
}
@media (min-width : 768px)
{
    .email-input{

    width: 50%;
    }
 

}
@media (max-width:600px){
    #myImage{
        width: 11%;
        margin-left: 50%;
        border-radius: 50%;
    }
}
#monir{
    height: 50%;
}

.titles{
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 4s linear infinite;
    position: relative;
margin-bottom: 3%;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/*  Checkout my other pens on  https://codepen.io/grohit/  */
